<%# navber section %>
<nav class="navbar navbar-expand-lg navbar-light bg-dark py-3 sticky-top">
  <div class="container">
    <h2><%= link_to 'Task It', "/", class: "navbar-brand pt-2 text-white" %></h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to 'Home', "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Unfulfilled tasks', "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Completed tasks', "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
           <%= link_to 'Staff', "#", class: "nav-link" %>
        </li>
        <%# <%= link_to 'Staff', { anchor: "Staff" }, class: "nav-link" %>
      </ul>
      <button class="btn btn-primary ms-3">
      <%= link_to '新規登録',new_user_registration_path, class: "sign-up" %>
      </button>
      <button class="btn btn-primary ms-3">
      <%= link_to 'ログイン',new_user_session_path, class: "login" %>
      </button>
    </div>
  </div>
</nav>